<%- include('../templates/header')-%>
<form action="/edit-news" method="post" enctype="multipart/form-data">
  <div class="mb-3">
    <div class="form-group">
      <label for="exampleInputEmail1">Title</label>
      <input
        type="text"
        class="form-control"
        id="title"
        name="title"
        value="<%=title %>"
        aria-describedby="emailHelp"
        placeholder="Enter Title"
      />
    </div>
  </div>
  <div class="mb-3">
    <div class="form-group">
      <label for="exampleInputPassword1">Description</label>
      <textarea
        class="form-control"
        id="desc"
        name="desc"
        rows="3"
        placeholder="Enter Description"
      >
<%= description %></textarea
      >
    </div>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Upload Thumbnail Image</label>
    <input class="form-control" type="file" id="file" name="file" />
  </div>
  <div class="mb-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  <input type="hidden" name="id" id="id" value="<%= id %>" />
</form>

<%- include('../templates/footer')-%>
